body {
  background-color: lavender;
  text-align: center;
  text-decoration: wavy;
}
.grid-container {
  display: grid;
  grid-template-columns: auto, auto, auto;
  background-color: #f4b4e7;
  padding: 10px;
  text-align: center;
}
.grid-item {
  background-color: rgba(221, 172, 248, 0.9);
  border: 0px solid rgba(0, 0, 0, 0.8);
  column-gap: 0px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}
.grid-item1 {
  background-color: rgba(245, 90, 211, 0.9);
  color: white;
  border: 0px solid rgba(0, 0, 0, 0.8);
  column-gap: 0px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.grid-item2 {
  background-color: rgba(221, 172, 248, 0.9);
  border: 0px solid rgba(0, 0, 0, 0.8);
  border-image-width: 200;
  text-align: center;
}